* {
  box-sizing: border-box;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 40px;
  background-color: #222;
  color: white;
}

header h2,
header p {
  margin: 0;
}


header nav {
  margin-left: auto;
}

nav ul {
  display: flex;
  gap: 20px;
  align-items: center;
  list-style: none;
  margin: 0;
  padding: 0;
}


nav a {
  color: white;
  text-decoration: none;
} 

.card {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  padding: 30px;
}

.card > div {
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 8px;
  background-color: #f4f4f4;
}
